{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="main container">
    <br>
    <img src="../img/SantaParaviaBanner.png" alt="Santa Paravia and Fiumaccio" style="width: 743px;">
    <div class="row justify-content-md-center">
        <div class="col-6 div-bg">
            <h3>User Dashboard</h3>
            <br><br>
            <button class="myButton" onclick="window.location.href='/login/destroy'">Log Out</button>
        </div>
    </div>
    <

</div>
{% endblock %}

{% block footer %}
{% endblock %}