{% extends "base.html" %}

{% block title %}Sucessful Registration{% endblock %}

{% block body %}

<div class="main container">
    <br>
    <p style="align-content: center;"><img src="../img/SantaParaviaBanner.png" alt="Santa Paravia and Fiumaccio"
                                           style="width: 743px;"></p>
    <div class="row justify-content-md-center">
        <div class="col-6 div-bg">
            <h3>Thank you for registering!</h3>
            <p>Please check your email to activate your account.</p>
            <button class="myButton" onclick="window.location.href='/'">Home</button>
        </div>
    </div>
</div>
<br><br>

{% endblock %}